.list1 {
    width: 257px;
    height: 148px;
    left: 25px;
    top: 240px;

    background: linear-gradient(112.61deg, rgba(143, 120, 182, 0.52) 38.72%, rgba(177, 89, 100, 0.52) 61.28%);
    box-shadow: 0px 4px 4px 1px rgba(169, 27, 191, 0.32);
    border-radius: 15px
}

.list2 {
    width: 257px;
    height: 148px;
    left: 25px;
    top: 429px;

    background: linear-gradient(112.61deg, #B678AF 38.72%, #59B0B1 61.28%);
    box-shadow: 0px 4px 4px 1px rgba(169, 27, 191, 0.32);
    border-radius: 15px;
}

.list3 {
    width: 257px;
    height: 148px;
    left: 25px;
    top: 618px;

    background: linear-gradient(112.61deg, #4E44AF 38.72%, rgba(240, 240, 148, 0.46) 61.28%);
    box-shadow: 0px 4px 4px 1px rgba(169, 27, 191, 0.32);
    border-radius: 15px;
}

.rectangle {

    box-sizing: border-box;

    position: absolute;
    width: 671px;
    height: 177px;
    left: 385px;
    top: 321px;

    background: rgba(91, 91, 91, 0.18);
    border: 1px solid rgba(0, 0, 0, 0.31);
    border-radius: 32px;
}

.review_text {
    position: absolute;
    width: 142px;
    height: 29px;
    left: 550px;
    top: 725px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    color: #F1F1F1;
}